openapi: 3.0.0
info:
  title: Unlock Locksmith Applications Stripe API
  version: '2'
  description: Locksmith provides backend functionality for enabling ticketing, metadata storage, and notification hooks.
  license:
    name: MIT
servers:
- url: https://locksmith.unlock-protocol.com
  description: Production Server
- url: https://staging-locksmith.unlock-protocol.com
  description: Staging Server
tags:
- name: Stripe
paths:
  /v2/stripe/connect/{network}/locks/{lockAddress}:
    post:
      operationId: connectStripeAccount
      security:
      - User: []
      description: Connect a stripe account to a lock
      parameters:
      - $ref: '#/components/parameters/Network'
      - $ref: '#/components/parameters/LockAddress'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - baseUrl
              type: object
              properties:
                baseUrl:
                  type: string
                stripeAccount:
                  type: string
      responses:
        200:
          description: Successfully connected stripe account
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  created:
                    type: number
                  expiresAt:
                    type: number
                  object:
                    type: string
        400:
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          $ref: '#/components/responses/401.NotAuthenticated'
      tags:
      - Stripe
  /v2/stripe/connections:
    get:
      operationId: getStripeConnections
      security:
      - User: []
      description: Lists the locks connected to Stripe for a user
      responses:
        200:
          description: List of locks previously connected to Stripe
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                  error:
                    type: string
                    nullable: true
        400:
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          $ref: '#/components/responses/401.NotAuthenticated'
      tags:
      - Stripe
components:
  parameters:
    Network:
      in: path
      name: network
      required: true
      description: Network id.
      schema:
        type: integer
    LockAddress:
      in: path
      name: lockAddress
      required: true
      description: Lock address.
      schema:
        type: string
  schemas:
    GenericServerError:
      type: object
      nullable: false
      properties:
        message:
          type: string
          default: There was an error in fullfiling the request.
          nullable: false
  responses:
    401.NotAuthenticated:
      description: User is not authenticated.
      content:
        application:
          schema:
            $ref: '#/components/schemas/GenericServerError'
  securitySchemes:
    User:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Application:
      type: apiKey
      name: api-key
      in: query
