openapi: 3.2.0
info:
  title: Unlock Locksmith Pass API
  version: '2'
  description: Locksmith provides backend functionality for enabling ticketing, metadata storage, and notification hooks.
  license:
    name: MIT
servers:
- url: https://locksmith.unlock-protocol.com
  description: Production Server
- url: https://staging-locksmith.unlock-protocol.com
  description: Staging Server
tags:
- name: Pass
paths:
  /v2/pass/{network}/{lockAddress}/{keyId}/ios:
    get:
      operationId: generateAppleWalletPass
      security:
      - User:
        - keyOwner
      description: Generate and return an Apple Wallet pass for a specified key associated with a lock.
      parameters:
      - $ref: '#/components/parameters/Network'
      - $ref: '#/components/parameters/LockAddress'
      - $ref: '#/components/parameters/KeyId'
      responses:
        200:
          description: Returns the streamable generated Apple Wallet pass file.
          content:
            application/vnd.apple.pkpass:
              schema:
                type: string
                format: binary
        500:
          $ref: '#/components/responses/500.InternalError'
      tags:
      - Pass
      summary: Generate apple wallet pass
      x-summary-source: derived
  /v2/pass/{network}/{lockAddress}/{keyId}/android:
    get:
      operationId: generateGoogleWalletPass
      security:
      - User:
        - keyOwner
      description: Generate and return a Google Wallet pass for a specified key associated with a lock.
      parameters:
      - $ref: '#/components/parameters/Network'
      - $ref: '#/components/parameters/LockAddress'
      - $ref: '#/components/parameters/KeyId'
      responses:
        200:
          description: Returns the URL to the created wallet pass object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  passObjectUrl:
                    type: string
        500:
          $ref: '#/components/responses/500.InternalError'
      tags:
      - Pass
      summary: Generate google wallet pass
      x-summary-source: derived
components:
  parameters:
    Network:
      in: path
      name: network
      required: true
      description: Network id.
      schema:
        type: integer
    LockAddress:
      in: path
      name: lockAddress
      required: true
      description: Lock address.
      schema:
        type: string
    KeyId:
      in: path
      name: keyId
      required: true
      description: Key Id.
      schema:
        type: string
  responses:
    500.InternalError:
      description: Unable to fullfil request due to internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericServerError'
  schemas:
    GenericServerError:
      type: object
      properties:
        message:
          type: string
          default: There was an error in fullfiling the request.
  securitySchemes:
    User:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Application:
      type: apiKey
      name: api-key
      in: query
