openapi: 3.2.0
info:
  title: Unlock Locksmith Applications API
  version: '2'
  description: Locksmith provides backend functionality for enabling ticketing, metadata storage, and notification hooks.
  license:
    name: MIT
servers:
- url: https://locksmith.unlock-protocol.com
  description: Production Server
- url: https://staging-locksmith.unlock-protocol.com
  description: Staging Server
tags:
- name: Applications
paths:
  /v2/applications/list:
    get:
      operationId: applications
      security:
      - User: []
      description: List applications created the user.
      responses:
        200:
          description: List of applications owned by the authenticated user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
        403:
          $ref: '#/components/responses/403.NotAuthenticatedOrAuthorized'
        500:
          $ref: '#/components/responses/500.InternalError'
      tags:
      - Applications
      summary: Applications
      x-summary-source: derived
  /v2/applications:
    post:
      operationId: createApplication
      security:
      - User: []
      description: Create application associated with user wallet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationBody'
      responses:
        201:
          description: Created application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        403:
          $ref: '#/components/responses/403.NotAuthenticatedOrAuthorized'
        400:
          $ref: '#/components/responses/400.Invalid'
        500:
          $ref: '#/components/responses/500.InternalError'
      tags:
      - Applications
      summary: Create application
      x-summary-source: derived
  /v2/applications/:id:
    delete:
      operationId: deleteApplication
      security:
      - User: []
      description: Delete application by id.
      parameters:
      - in: path
        required: true
        schema:
          type: string
        name: id
        description: Application id.
      responses:
        200:
          description: Deleted application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccess'
        403:
          $ref: '#/components/responses/403.NotAuthenticatedOrAuthorized'
        400:
          $ref: '#/components/responses/400.Invalid'
        404:
          $ref: '#/components/responses/404.NotFound'
        500:
          $ref: '#/components/responses/500.InternalError'
      tags:
      - Applications
      summary: Delete application
      x-summary-source: derived
    put:
      parameters:
      - in: path
        required: true
        schema:
          type: string
        name: id
        description: Application id.
      operationId: updateApplication
      security:
      - User: []
      description: Update application by id.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationBody'
      responses:
        200:
          description: Updated application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        403:
          $ref: '#/components/responses/403.NotAuthenticatedOrAuthorized'
        400:
          $ref: '#/components/responses/400.Invalid'
        404:
          $ref: '#/components/responses/404.NotFound'
        500:
          $ref: '#/components/responses/500.InternalError'
      tags:
      - Applications
      summary: Update application
      x-summary-source: derived
components:
  responses:
    400.Invalid:
      description: Invalid input received. Bad request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericInvalidBodyError'
    403.NotAuthenticatedOrAuthorized:
      description: User is not authorized to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotAuthenticated'
    500.InternalError:
      description: Unable to fullfil request due to internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericServerError'
    404.NotFound:
      description: The item you are making request for does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericNotFound'
  schemas:
    Application:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        key:
          type:
          - string
          - 'null'
        walletAddress:
          type: string
    NotAuthenticated:
      type: object
      properties:
        message:
          type: string
          default: You are not authorized or authenticated to perform this action.
    GenericSuccess:
      type: object
      properties:
        message:
          type: string
          default: Successfully fulfilled the request.
    GenericServerError:
      type: object
      properties:
        message:
          type: string
          default: There was an error in fullfiling the request.
    GenericNotFound:
      type: object
      properties:
        message:
          type: string
          default: resource not found
    GenericInvalidBodyError:
      type: object
      properties:
        message:
          type: string
          default: Response body schema is invalid.
        error:
          type:
          - string
          - 'null'
    ApplicationBody:
      type: object
      properties:
        name:
          type: string
        key:
          type:
          - string
          - 'null'
        walletAddress:
          type: string
  securitySchemes:
    User:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Application:
      type: apiKey
      name: api-key
      in: query
