openapi: 3.0.0
info:
  title: Unlock Locksmith Applications Charges API
  version: '2'
  description: Locksmith provides backend functionality for enabling ticketing, metadata storage, and notification hooks.
  license:
    name: MIT
servers:
- url: https://locksmith.unlock-protocol.com
  description: Production Server
- url: https://staging-locksmith.unlock-protocol.com
  description: Staging Server
tags:
- name: Charges
paths:
  /v2/api/charges/{network}/locks/{lockAddress}:
    get:
      description: Get the price breakdown for recipients & total charges with fees for a specific lock
      operationId: getChargesForLock
      parameters:
      - $ref: '#/components/parameters/Network'
      - $ref: '#/components/parameters/LockAddress'
      - name: purchaseData[]
        description: The purchase data passed to the purchase function
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      - name: recipients[]
        description: The recipients passed to the purchase function
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: Successfully got card pricing for universal cards
          content:
            application/json:
              schema:
                type: object
                required:
                - total
                - unlockServiceFee
                - gasCost
                properties:
                  total:
                    type: number
                  symbol:
                    type: string
                  creditCardProcessingFee:
                    type: number
                  unlockServiceFee:
                    type: number
                  gasCost:
                    type: number
                  prices:
                    type: array
                    items:
                      type: object
                      required:
                      - userAddress
                      - amount
                      - symbol
                      properties:
                        userAddress:
                          type: string
                        amount:
                          type: string
                        symbol:
                          type: string
      tags:
      - Charges
components:
  parameters:
    Network:
      in: path
      name: network
      required: true
      description: Network id.
      schema:
        type: integer
    LockAddress:
      in: path
      name: lockAddress
      required: true
      description: Lock address.
      schema:
        type: string
  securitySchemes:
    User:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Application:
      type: apiKey
      name: api-key
      in: query
